/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 0.2rem;
}

    /* Make the scrollbar thumb hover effect lighter */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(156, 163, 175, 0.8);
    }
